# Decision Tree

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import tree, metrics
from sklearn.model_selection import train_test_split
import time

## Read in the data

In [2]:
df = pd.read_csv('cardata_cleaned.csv',names=['buying','maint','doors','persons','lug_boot','safety','class'], skiprows=[0])
df.head()

   buying  maint  doors  persons  lug_boot  safety  class
0       3      3      2        2         0       0      0
1       3      3      2        2         0       1      0
2       3      3      2        2         0       2      0
3       3      3      2        2         1       0      0
4       3      3      2        2         1       1      0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
buying      1728 non-null int64
maint       1728 non-null int64
doors       1728 non-null int64
persons     1728 non-null int64
lug_boot    1728 non-null int64
safety      1728 non-null int64
class       1728 non-null int64
dtypes: int64(7)
memory usage: 94.6 KB

In [4]:
df.describe()

,buying,maint,doors,persons,lug_boot,safety,class
count,1728.000000,1728.000000,1728.000000,1728.000000,1728.000000,1728.000000,1728.000000
mean,1.500000,1.500000,3.500000,3.666667,1.000000,1.000000,0.414931
std,1.118358,1.118358,1.118358,1.247580,0.816733,0.816733,0.740700
min,0.000000,0.000000,2.000000,2.000000,0.000000,0.000000,0.000000
25%,0.750000,0.750000,2.750000,2.000000,0.000000,0.000000,0.000000
50%,1.500000,1.500000,3.500000,4.000000,1.000000,1.000000,0.000000
75%,2.250000,2.250000,4.250000,5.000000,2.000000,2.000000,1.000000
max,3.000000,3.000000,5.000000,5.000000,2.000000,2.000000,3.000000

## Encode as categorical variables

In [5]:
df['buying'],_ = pd.factorize(df['buying'])
df['maint'],_ = pd.factorize(df['maint'])
df['doors'],_ = pd.factorize(df['doors'])
df['persons'],_ = pd.factorize(df['persons'])
df['lug_boot'],_ = pd.factorize(df['lug_boot'])
df['safety'],_ = pd.factorize(df['safety'])

In [6]:
df['class'],classNames = pd.factorize(df['class'])

In [7]:
df.head()

   buying  maint  doors  persons  lug_boot  safety  class
0       0      0      0        0         0       0      0
1       0      0      0        0         0       1      0
2       0      0      0        0         0       2      0
3       0      0      0        0         1       0      0
4       0      0      0        0         1       1      0

## Split data into X and y categories for Decision Tree

In [8]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

## split data into 70% training set and 30% test set

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

## Train the Decision Tree

In [10]:
start_time = time.time()
carEvalTree = tree.DecisionTreeClassifier(criterion='gini', max_depth=7)
carEvalTree.fit(X_train, y_train)
print("--- %s seconds ---" % (time.time() - start_time))

--- 0.003987550735473633 seconds ---

## Find the mean accuracy of the given test data and labels.

In [11]:
carEvalTree.score(X_train,y_train)

0.9478908188585607

## The greater the max_depth, the higher the mean accuracy

## Make predictions with data

In [12]:
y_pred = carEvalTree.predict(X_test)

## Check accuracy of Decision Tree

In [13]:
misclassified = (y_test != y_pred).sum()
print('# of improperly classified samples in Decision Tree: {}'.format(misclassified))
acc = metrics.accuracy_score(y_test, y_pred)
print('Percent accuracy of Decision Tree: {:.2%}'.format(acc))

# of improperly classified samples in Decision Tree: 43
Percent accuracy of Decision Tree: 91.71%